@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApp.ViewModels.ProfileEditViewModel

@{
    ViewData["Title"] = "ویرایش کاربر";
    Layout = "_Layout";
}

<div class="contenti">

    <div class="container">

        <form id="form" method="post" asp-action="Edit">

            <div class="row">

                <input type="hidden" asp-for="Id"/>

                <div class="col-md-12">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">

                        <label asp-for="@Model.FirstName"></label>

                        <input type="text" asp-for="FirstName" class="form-control profile"/>

                        <span asp-validation-for="@Model.FirstName" class="text-danger"></span>

                    </div>

                    <div class="form-group">

                        <label asp-for="@Model.LastName"></label>

                        <input type="text" asp-for="LastName" class="form-control profile"/>

                        <span asp-validation-for="@Model.LastName" class="text-danger"></span>

                    </div>

                    <div class="form-group">

                        <label asp-for="@Model.BirthDateString"></label>

                        <input type="text" asp-for="BirthDateString" class="form-control profile persianDatepicker"/>

                        <span asp-validation-for="@Model.BirthDateString" class="text-danger"></span>

                    </div>

                    <div class="form-group">

                        <label asp-for="@Model.Email"></label>

                        <input type="text" asp-for="Email" readonly="readonly" class="form-control"/>

                        <span asp-validation-for="@Model.Email" class="text-danger"></span>

                    </div>

                    <div class="form-group">

                        <label asp-for="@Model.CurrentPassword"></label>

                        <input type="password" asp-for="CurrentPassword" class="form-control password"/>

                        <span asp-validation-for="@Model.CurrentPassword" class="text-danger"></span>

                    </div>

                    <div class="form-group">

                        <label asp-for="@Model.NewPassword"></label>

                        <input type="password" asp-for="NewPassword" class="form-control password"/>

                        <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>

                    </div>

                    <div class="form-group">

                        <label asp-for="@Model.ConfirmPassword"></label>

                        <input type="password" asp-for="ConfirmPassword" class="form-control password"/>

                        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>

                    </div>

                </div>

                <div class="col-md-12">

                    <div class="text-right">

                        <a asp-action="Index" asp-controller="Profile" asp-route-userId="@Model.Id" class="btn btn-default">لغو</a>

                        <button id="submitBtn" type="submit" class="btn btn-primary">ذخیره</button>

                    </div>

                </div>

            </div>

        </form>

    </div>

</div>

@section scripts{
}