@page
@model eCommerce.Pages.Cart.IndexModel

@{
    ViewData["Title"] = "Cart";
}
<link href="~/lib/jquery-confirm/dist/jquery-confirm.min.css" rel="stylesheet" />
<style>
    .refreshQuantity {
        padding: 7px !important;
        display: block;
    }

    .quantityGroup {
        float: left;
    }
</style>

<div class="contenti">
    <div class="container">
        <div class="row">
            @if (Model.Products.Count > 0)
            {
                <div class="col-md-12">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Unit Price</th>
                                <th>Quantity</th>
                                <th>Total Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Products)
                            {
                                <tr>
                                    <td><a target="_blank" href="@item.ImagePath"><img height="50px" src="@item.ImagePath" /></a></td>
                                    <td>@item.ProductName</td>
                                    <td>€ @item.Price</td>
                                    <td>
                                        <div class="input-group col-md-5 quantityGroup">
                                            <span class="input-group-addon"><a class="minus" href="#"><i class="fa fa-minus"></i></a></span>
                                            <input value="@item.Quantity" type="text" class="form-control col-xs-2 text-center" aria-label="Amount (to the nearest dollar)">
                                            <span class="input-group-addon"><a class="plus" href="#"><i class="fa fa-plus"></i></a></span>
                                        </div>
                                        <a data-id="@item.Id" class="updateProduct refreshQuantity" href="#"><i class="fa fa-refresh"></i></a>
                                    </td>
                                    <td>€ @item.Total</td>
                                    <td><a href="#" data-id="@item.Id" class="btn btn-danger deleteProduct"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="text-right">
                        <h2 class="form-control">Total: € @Model.Total.ToString("0.00")</h2>
                        <a asp-page="/Products/Index" class="btn btn-success" style="margin-right: 10px;">Continue shipping</a>
                        <a asp-page="/Cart/Shipping" class="btn btn-primary">Proceed to checkout</a>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-12 text-center" style="height: 500px;">
                    <label>We're sorry but your cart is empty.</label>
                    <label><a asp-page="/Products/Index">Click here</a> to start buying</label>
                </div>
            }
        </div>
    </div>
</div>
<form id="deleteForm" method="post" asp-page-handler="Delete">
    <input type="hidden" id="deleteId" name="deleteId" />
</form>
<form id="updateForm" method="post" asp-page-handler="Update">
    <input type="hidden" id="updateId" name="updateId" />
    <input type="hidden" id="updatedQuantity" name="updatedQuantity" />
</form>

@section scripts{
    <script src="~/lib/jquery-confirm/dist/jquery-confirm.min.js"></script>
    <script>
        $(function () {
            $('.deleteProduct').on('click', function () {
                var id = $(this).data('id');
                $('#deleteId').val(id);

                $.confirm({
                    title: '<i class="fa fa-exclamation-triangle"></i> Are you sure?',
                    content: 'Are you sure you want to delete this product?',
                    buttons: {
                        somethingElse: {
                            text: 'CONFIRM',
                            btnClass: 'btn-danger',
                            keys: ['enter'],
                            action: function () {
                                $('#deleteForm').submit();
                            }
                        },
                        cancel: function () {
                        }
                    }
                });
            });

            $('.updateProduct').on('click', function () {
                var id = $(this).data('id');
                $('#updateId').val(id);

                var quantity = $(this).parent().children('div').children('input').val();
                $('#updatedQuantity').val(quantity);

                $('#updateForm').submit();
            });

            $('.plus').on('click', function () {
                var currentValue = $(this).parent().siblings('input').val();
                $(this).parent().siblings('input').val(parseInt(currentValue) + 1);
            });

            $('.minus').on('click', function () {
                var currentValue = $(this).parent().siblings('input').val();
                if (currentValue == 1) {
                    return false;
                }
                $(this).parent().siblings('input').val(parseInt(currentValue) - 1);
            });
        });
    </script>
}