@page
@model eCommerce.Pages.Cart.ViewModel

@{
    ViewData["Title"] = "Cart";
}

<div class="contenti">
    <div class="container">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Unit Price</th>
                            <th>Quantity</th>
                            <th>Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Products)
                        {
                            <tr>
                                <td><a target="_blank" href="@item.ImagePath"><img height="50px" src="@item.ImagePath" /></a></td>
                                <td>@item.ProductName</td>
                                <td>€ @item.Price</td>
                                <td>@item.Quantity</td>
                                <td>€ @item.Total</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="text-right">
                    <h2 class="form-control">Total: € @Model.Total.ToString("0.00")</h2>
                </div>
            </div>
        </div>
        <h4>Shipping</h4>
        <hr />
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <h6>Full Name:</h6>
                    <label>@Model.Shipping.FullName</label>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <h6>Address1:</h6>
                    <label>@Model.Shipping.Address1</label>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <h6>Address2:</h6>
                    <label>@Model.Shipping.Address2</label>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <h6>City:</h6>
                    <label>@Model.Shipping.City</label>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <h6>State:</h6>
                    <label>@Model.Shipping.State</label>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <h6>Zip Code:</h6>
                    <label>@Model.Shipping.ZipCode</label>
                </div>
            </div>
        </div>
        @if (User.IsInRole("Admin"))
        {
            <form method="post">
                <input type="hidden" asp-for="Id" />
                <div class="row">
                    <div class="col-md-1">

                        <label>Status:</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" asp-for="StatusId" asp-items="@((SelectList)ViewData["Statuses"])"></select>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary">SAVE</button>
                    </div>
                </div>
            </form>
        }
    </div>
</div>

@section scripts{ 
<script>
        $(function () {
            if ('@ViewData["Success"]' != null && '@ViewData["Success"]' != '')
            {
                toastr.success('@ViewData["Success"]')
            }
        });
</script>
}